@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

.titulo-principal {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.navbar.navegador {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(198, 198, 198);
    font-family: "Marcellus", serif;
    color: black;
}

.logo-container img {
    width: 100px;
    margin-left: 60px;
}

.logo-container p {
    margin-left: 60px;
    font-size: 20px;
}

.nav-link.link-nav {
    font-size: 20px;
    color: solid black;
    --bs-nav-link-color: black;
    margin-right: 60px;
}


@media screen and (min-width:200px) and (max-width:768px) {
    .titulo-principal {
        font-size: 40px;
    }
}