@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

.titulo-principal {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 44px;
    margin: 18px;
}

.name {
    font-size: 38px;
    font-weight: 600;
    font-family: "Marcellus", serif;
}

.navbar.navegador {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(198, 198, 198);
    font-family: "Marcellus", serif;
    color: black;
}

.logo-black {
    width: 140px;
}

.nav-link.link-nav {
    font-size: 20px;
    color: solid black;
    --bs-nav-link-color: black;
}

.logo-title {
    color: black;
    font-size: 18px;
    font-family: "Marcellus", serif;
}