@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@600&display=swap');
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    margin-top: 100%;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(230, 227, 227);
    }
    .redes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }
    .logo{
        width: 200px;
    }
    .icon-redes{
        width: 40px;
        margin: 10px;
    }
        .p-footer-title{
         font-family:"Noto Sans JP", sans-serif;
        font-size: 28px;
    }
    .p-footer-creci{
        font-family:"Noto Sans JP", sans-serif;
       font-size: 14px;
       font-weight: bold;
   }
   .p-footer-redes{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
.a-redes{
    color: transparent;
}
    @media screen and (min-width:200px) and (max-width:768px) {
                footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
                }
                }
            
    