@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    margin-top: 100%;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(198, 198, 198);
}

.logo {
    width: 100px;
}

.redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.icon-redes {
    width: 40px;
    margin: 10px;
}

.p-footer-title {
    color: black;
    font-size: 20px;
    font-family: "Marcellus", serif;
}

.p-footer-creci {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.p-footer-redes {
    font-family: "Marcellus", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.a-redes {
    color: transparent;
}

@media screen and (min-width:200px) and (max-width:768px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
    }
}